.gradle*
**/build/*
*.settings*
*/bin/*
*.classpath*
*.project*
*buildProfile*
download-server/plugin/**.jar
/build/
download-server/data/10mb.txt
download-plugin-4kvod/
download-client/.settings/org.eclipse.jdt.core.prefs
